workflows/moneytrack-miniapp-api-7TJ2xQTxLsTydXZc.json
{
  "updatedAt": "2026-06-05T15:37:09.389Z",
  "createdAt": "2026-06-02T08:19:48.728Z",
  "id": "7TJ2xQTxLsTydXZc",
  "name": "MoneyTrack MiniApp API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "miniapp-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5516e954-9add-41b6-9256-64c9e7150822",
      "name": "Webhook",
      "webhookId": "c5a6e8ef-970a-47f8-b44a-320a45472340"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with user_row as (\n    select\n        u.id as user_id,\n        us.base_currency,\n        us.report_currency,\n        us.language_code\n    from moneytrack.app_users u\n    join moneytrack.user_settings us\n        on us.user_id = u.id\n    where u.telegram_user_id =\n    {{ Number($json.query?.telegram_user_id || $json.body?.telegram_user_id || 0) }}\n),\n\ntransaction_movements as (\n    select\n        t.account_id,\n        case\n            when t.transaction_type = 'openingbalance' then t.amount_original\n            when t.transaction_type = 'income' then t.amount_original\n            when t.transaction_type = 'expense' then -t.amount_original\n            when t.transaction_type = 'adjustment' then t.amount_original\n            else 0\n        end as amount\n    from moneytrack.transactions t\n    join user_row u on u.user_id = t.user_id\n),\n\ntransfer_movements as (\n    select\n        tr.from_account_id as account_id,\n        -tr.from_amount as amount\n    from moneytrack.transfers tr\n    join user_row u on u.user_id = tr.user_id\n\n    union all\n\n    select\n        tr.to_account_id as account_id,\n        tr.to_amount as amount\n    from moneytrack.transfers tr\n    join user_row u on u.user_id = tr.user_id\n),\n\nbalances as (\n    select\n        account_id,\n        sum(amount) as balance\n    from (\n        select * from transaction_movements\n        union all\n        select * from transfer_movements\n    ) x\n    group by account_id\n),\n\nsummary_by_currency as (\n    select\n        t.currency_original as currency_code,\n\n        sum(case when t.transaction_type = 'income' then t.amount_original else 0 end) as income,\n        sum(case when t.transaction_type = 'expense' then t.amount_original else 0 end) as expense,\n        sum(case when t.transaction_type = 'adjustment' then t.amount_original else 0 end) as adjustment,\n\n        sum(\n            case\n                when t.transaction_type = 'income' then t.amount_original\n                when t.transaction_type = 'expense' then -t.amount_original\n                when t.transaction_type = 'adjustment' then t.amount_original\n                else 0\n            end\n        ) as result\n\n    from moneytrack.transactions t\n    join user_row u on u.user_id = t.user_id\n    where date_trunc('month', t.transaction_date) = date_trunc('month', current_date)\n    group by t.currency_original\n),\n\nsummary_converted as (\n    select\n        s.*,\n        u.report_currency,\n        case\n            when s.currency_code = u.report_currency then 1\n            else er.rate\n        end as rate_to_report,\n\n        s.income *\n        case when s.currency_code = u.report_currency then 1 else er.rate end as income_report,\n\n        s.expense *\n        case when s.currency_code = u.report_currency then 1 else er.rate end as expense_report,\n\n        s.adjustment *\n        case when s.currency_code = u.report_currency then 1 else er.rate end as adjustment_report,\n\n        s.result *\n        case when s.currency_code = u.report_currency then 1 else er.rate end as result_report\n\n    from summary_by_currency s\n    cross join user_row u\n    left join moneytrack.exchange_rates er\n        on er.rate_date = current_date\n       and er.from_currency = s.currency_code\n       and er.to_currency = u.report_currency\n),\n\nregular_transactions as (\n    select\n        t.id,\n        t.transaction_date,\n        t.created_at,\n        t.transaction_type as operation_type,\n        t.amount_original as amount_from,\n        t.currency_original as currency_from,\n        null::numeric as amount_to,\n        null::text as currency_to,\n        coalesce(a.name, '-') as from_account_name,\n        null::text as to_account_name,\n        t.description,\n        'transaction' as source\n    from moneytrack.transactions t\n    join user_row u on u.user_id = t.user_id\n    left join moneytrack.accounts a on a.id = t.account_id\n),\n\ntransfer_transactions as (\n    select\n        tr.id,\n        tr.transfer_date as transaction_date,\n        tr.created_at,\n        tr.transfer_type as operation_type,\n        tr.from_amount as amount_from,\n        tr.from_currency as currency_from,\n        tr.to_amount as amount_to,\n        tr.to_currency as currency_to,\n        coalesce(fa.name, '-') as from_account_name,\n        coalesce(ta.name, '-') as to_account_name,\n        tr.transfer_type as description,\n        'transfer' as source\n    from moneytrack.transfers tr\n    join user_row u on u.user_id = tr.user_id\n    left join moneytrack.accounts fa on fa.id = tr.from_account_id\n    left join moneytrack.accounts ta on ta.id = tr.to_account_id\n),\n\nlast_operations as (\n    select *\n    from (\n        select * from regular_transactions\n        union all\n        select * from transfer_transactions\n    ) x\n    order by transaction_date desc, created_at desc, id desc\n    limit 20\n)\n\nselect json_build_object(\n    'settings', json_build_object(\n        'base_currency', u.base_currency,\n        'report_currency', u.report_currency,\n        'language_code', u.language_code\n    ),\n\n    'summary', json_build_object(\n        'period', to_char(current_date, 'YYYY-MM'),\n        'currency', u.report_currency,\n        'income', coalesce((select sum(income_report) from summary_converted), 0),\n        'expense', coalesce((select sum(expense_report) from summary_converted), 0),\n        'adjustment', coalesce((select sum(adjustment_report) from summary_converted), 0),\n        'result', coalesce((select sum(result_report) from summary_converted), 0)\n    ),\n\n    'summary_by_currency', (\n        select coalesce(json_agg(x order by x.currency_code), '[]'::json)\n        from (\n            select\n                currency_code,\n                income,\n                expense,\n                adjustment,\n                result,\n                rate_to_report\n            from summary_converted\n        ) x\n    ),\n\n    'accounts', (\n        select coalesce(json_agg(a order by a.sort_order nulls last, a.name), '[]'::json)\n        from (\n            select\n                acc.id,\n                acc.parent_id,\n                acc.name,\n                acc.account_type,\n                acc.currency_code,\n                acc.sort_order,\n                coalesce(b.balance, 0) as balance\n            from moneytrack.accounts acc\n            join user_row uu on uu.user_id = acc.user_id\n            left join balances b on b.account_id = acc.id\n            where acc.is_active = true\n            order by acc.parent_id nulls first, acc.sort_order nulls last, acc.name\n        ) a\n    ),\n\n    'transactions', (\n        select coalesce(json_agg(t), '[]'::json)\n        from (\n            select *\n            from last_operations\n        ) t\n    )\n) as data\n\nfrom user_row u;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "11bc8a66-934f-4c53-ab43-5aa23ef3e994",
      "name": "Get miniapp summary",
      "credentials": {
        "postgres": {
          "id": "tM27zg5m7tREo2ep",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "bc444623-a13b-49fc-9d2e-194244ae19e8",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get miniapp summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get miniapp summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "febef724-3700-4f00-b678-745de487c300",
  "activeVersionId": "f9c97489-90b6-4844-9d00-cfb930a726d8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-02T08:19:48.728Z",
      "createdAt": "2026-06-02T08:19:48.728Z",
      "role": "workflow:owner",
      "workflowId": "7TJ2xQTxLsTydXZc",
      "projectId": "m9DMPSZOUe7yfL0e"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-02T22:31:23.695Z",
    "createdAt": "2026-06-02T22:30:44.607Z",
    "versionId": "f9c97489-90b6-4844-9d00-cfb930a726d8",
    "workflowId": "7TJ2xQTxLsTydXZc",
    "nodes": [
      {
        "parameters": {
          "path": "miniapp-summary",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "5516e954-9add-41b6-9256-64c9e7150822",
        "name": "Webhook",
        "webhookId": "c5a6e8ef-970a-47f8-b44a-320a45472340"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select json_build_object(\n  'currency', 'EUR',\n  'summary', json_build_object(\n    'income', coalesce(sum(case when transaction_type='income' then amount_original else 0 end),0),\n    'expense', coalesce(sum(case when transaction_type='expense' then amount_original else 0 end),0),\n    'balance',\n      coalesce(sum(case when transaction_type='income' then amount_original else 0 end),0)\n      - coalesce(sum(case when transaction_type='expense' then amount_original else 0 end),0)\n  ),\n\n'accounts', (\n  select coalesce(json_agg(a), '[]'::json)\n  from (\n    select\n      acc.id,\n      acc.name,\n      acc.currency_code,\n      coalesce(\n        sum(\n          case\n            when t.transaction_type = 'income'\n              then t.amount_original\n            when t.transaction_type = 'expense'\n              then -t.amount_original\n            else 0\n          end\n        ),\n        0\n      ) as balance\n    from moneytrack.accounts acc\n    left join moneytrack.transactions t\n      on t.account_id = acc.id\n    where acc.user_id = 1\n    group by\n      acc.id,\n      acc.name,\n      acc.currency_code\n    order by acc.name\n  ) a\n),\n\n  \n  'transactions', (\n    select coalesce(json_agg(x), '[]'::json)\n    from (\n      select\n        t.id,\n        t.transaction_type,\n        t.transaction_date,\n        t.amount_original,\n        t.currency_original,\n        t.description,\n        coalesce(a.name,'-') as account_name\n      from moneytrack.transactions t\n      left join moneytrack.accounts a on a.id=t.account_id\n      where t.user_id=1\n      order by t.transaction_date desc,t.id desc\n      limit 10\n    ) x\n  )\n) as data\nfrom moneytrack.transactions\nwhere user_id=1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          0
        ],
        "id": "11bc8a66-934f-4c53-ab43-5aa23ef3e994",
        "name": "Get miniapp summary",
        "credentials": {
          "postgres": {
            "id": "tM27zg5m7tREo2ep",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          416,
          0
        ],
        "id": "bc444623-a13b-49fc-9d2e-194244ae19e8",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get miniapp summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get miniapp summary": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Anatolii Makeev",
    "name": "Version f9c97489",
    "description": "",
    "autosaved": true
  },
  "tags": []
}
